---
title: "Devblog two"
date: "2025-05-07"
---

# Salutations

A couple of days ago i made the smart choice of deleting everything and restarting! So now i have a new and fresh start. do i hate myself for it? 
<br>
...
<br>
yes, but whats done is done... so no going back now! wish me luck please. 