---
title: "Devblog three"
date: "2025-05-14"
---

okay so i have decided that i didnt like how it looked so i have to change everything again. but not make a whole new one this time. instead i am ajusting thing and removeing some other. uhh. i also idk i still have a lot to do so im gonna have to work at home which sucks but thats on me... hopefully i wont make the same mistakes in the future and learn from this. though i think that that is rather unlikely. since i tend to repeat this a LOT... well that all i think okay. i haave nothing more to say. can i add photots here? <br>
<img src="https://i.pinimg.com/736x/d3/b9/c9/d3b9c97d76dea7c26187bdeb537df15b.jpg" width="400">
<br>
seems i can